<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Onallo.ID</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="style/main.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav
      class="
        navbar navbar-expand-lg navbar-light
        bg-light
        navbar-store
        fixed-top
        navbar-fixed-top
      "
      data-aos="fade-down"
    >
      <div class="container">
        <a href="/index.html" class="navbar-brand">
          <img src="/images/logo-onalloid.svg" alt="Logo" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a href="/index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/catalog.html" class="nav-link">Catalog</a>
            </li>
            <li class="nav-item">
              <a href="/size.html" class="nav-link">Size Guide</a>
            </li>
            <li class="nav-item">
              <a href="/contact.html" class="nav-link">Contact</a>
            </li>
          </ul>
          <a
            href="/login.html"
            class="btn btn-dark nav-link px-4 text-white ml-auto"
            >Login
          </a>
        </div>
      </div>
    </nav>

    <!-- Login -->
    <div class="page-content page-auth" id="register">
      <div class="section-store-auth" data-aos="fade-up">
        <div class="container">
          <div class="row justify-content-center align-items-center row-login">
            <div class="col-lg-5">
              <h2>
                Memulai untuk beli dengan  </br>
                cara terbaru
              </h2>
              <div class="mt-3">
                <div class="form-group">
                  <label>Full name</label>
                  <input
                    type="text"
                    aria-describedby="nameHelp"
                    class="form-control is-valid" v-model="name" autofocus/>
                </div>
                <div class="form-group">
                  <label>Email address</label>
                  <input
                    type="email"
                    aria-describedby="emailHelp"
                    class="form-control is-invalid" v-model="email"/>
                </div>
                <div class="form-group">
                  <label for="">Password</label>
                  <input type="password" class="form-control" />
                </div>
                <a href="/registration-success.html" class="btn btn-dark btn-block mt-4">
                  Sign Up Now
                </a>
                <a href="/login.html" class="btn btn-signup btn-block">
                  Back to Sign In
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row" style="margin-top: 40px">
          <div class="col-md-3">
            <p class="font-weight-bold">Cosily.ID</p>
          </div>
          <div class="col-md-3">
            <p class="font-weight-bold">Kontak Kami</p>
            <p>+62 8515 5288 869</p>
            <p>cosily_ID@gmail.com</p>
          </div>
          <div class="col-md-3">
            <p class="font-weight-bold">Alamat</p>
            <p>
              JL. Raya Setu - Serang, <br />Cibenning, Kec. Setu, <br />Bekasi,
              <br />Jawa Barat, 17320.
            </p>
          </div>
        </div>
        <div class="row text-center" style="margin-top: 40px">
          <div class="col">
            <p>2021 Copyright Cosily.ID. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.slim.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="/script/navbar-scroll.js"></script>
    <!-- Pesan Error menggunakan Toasted Vue.js -->
    <script src="/vendor/vue/vue.js"></script>
    <script src="https://unpkg.com/vue-toasted"></script>
    <script>
      Vue.use(Toasted);/* Memanggil library vue-toasted */

      var register = new Vue({
        el: '#register'/* id="register" */,
        mounted() {
          AOS.init();/* memanggil AOS.init */
          this.$toasted.error(/* menginisialisasi method error toasted */
            "Maaf, tampaknya email sudah terdaftar pada sistem kami.",/* Pesan Error */
            {/* Parameter */
              position: "top-center",/* Posisi error diatas */
              className: "rounded", /* Background errornya bulat */
              duration: 1000 /* durasinya 1000ms */
            }
          );
        },
        data: { /* Contoh Input data */
          name: "Helmi",
          email: "helmi@gmail.com",
          password: "",
        }
      });
    </script>
  </body>
</html>
